/* Common Css Start */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
body {
  /* font-family: "Abril Fatface", cursive;
  font-family: "Open Sans", sans-serif; */
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* //Common Css End */

/* Header Section Css Start */
header .top_bar{
   background: #0f2f44;
   color: #fff;
   padding: 10px 0;
}

header .top_bar .top_bar_left{
   width: 50%;
}
header .top_bar .top_bar_right{
   width: 50%;
   text-align: right;
}

header nav .row{
   align-items: center;
}

header nav .logo{
   width: 15%;
}
header nav .menu{
   width: 85%;
}

header nav .menu ul{
   justify-content: flex-end;
}
header nav .menu ul li a{
   font-size: 16px;
   color: #222222;
   font-weight: 500;
   text-transform: capitalize;
   padding: 42px 20px;
   display: inline-block;
   transition: .5s;
}
header nav .menu ul li:hover > a{
   background: #fff9e6;
}
header nav .menu ul li > i{
   width: 30px;
   height: 30px;
   border: 1px solid #999999;
   border-radius: 50%;
   text-align: center;
   line-height: 30px;
   margin: 0 10px;
   cursor: pointer;
}
/* //Header Section Css End */
